.heading {
  color: #FF6AC3;
  font-size: 100px;
  font-weight: '900';
  letter-spacing: 10;
  word-wrap: 'break-word';
  text-align: center;
}

.heading2{
  color: #FF6AC3;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.form-container {
  width: 400px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #FF6AC3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
::placeholder {
  color: #FF6AC3; /* Set the color you desire */
}
  
.form-group {
  margin-bottom: 20px;
}
  
.form-grouplog {
  margin-bottom: 20px;
  margin-left: 5px;
  color: #e0529e;
  text-align: right;
  font-size: 14px;
}
  
label {
  display: block;
  margin-bottom: 5px;
  color: #FF6AC3;
  font-weight: bold;
}
  
input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #FF6AC3;
  border-radius: 5px;
  box-sizing: border-box;
  color: #e0529e;
  outline: none;
}
  
input:focus {
  border-color: #e0529e;
}
  
button {
  width: 100%;
}
  
.link-container {
  display: flex;
  justify-content: space-between;
}
  
.link {
  color: #FF6AC3;
  text-decoration: none;
}
  
.link:hover {
  color: #e0529e;
}