html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #FFE3F4;
}

.rectangle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Ensure the content is centered vertically */
  background: #FFE3F4;
  box-sizing: border-box;
  padding: 20px;
}

.content-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.2s;
}

.box:hover {
  transform: translateY(-5px);
}
.head{
  color: #FF6AC3;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 10px;
  word-wrap: break-word;
  text-align: center;
}
.heading2 {
  color: #FF6AC3;
  font-size: 2.5rem; /* Increase font size */
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.lead2 {
  color: #FF6AC3;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .heading2 {
    font-size: 3rem; /* Increase font size for larger screens */
  }
  .lead2 {
    font-size: 1.25rem;
  }
}
