.Rectangle1 {
  width: 100%;
  background: #ffe3f4;
  padding: 20px; /* Adjust padding as per your design needs */
  margin: 0; /* Remove margin to eliminate extra space */
}

.text-container {
  background-color: white; /* White background for text content */
  padding: 20px; /* Padding around the text content */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.mainheading {
  color: #ff6ac3;
  font-size: 4.5rem;
  font-weight: 900;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.lead {
  color: #ff6ac3;
  font-size: 1rem;
  font-weight: 300;
  word-wrap: break-word;
  line-height: 1.5;
}

.d-grid .btn-outline-light {
  color: #ff6ac3;
  border-color: #ff6ac3;
  font-weight: bold;
  transition: color 0.3s;
}

.d-grid .btn-outline-light:hover {
  color: white;
  background-color: #ff6ac3;
  border-color: #ff6ac3;
}
